<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Husnoro | Samecode</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:fragment="top">
    <div class="hat">
        <span class="first-line"><i class="fa-solid fa-location-dot fa-xl" style="color: white"></i><span class="text-hat">12 Mikrorayon, Khujand, Tajikistan</span></span>
        <span class="first-line"><i class="fa-solid fa-envelope fa-xl" style="color: white"></i><span class="text-hat">example@gmail.com</span></span>
        <span class="first-line non"><i class="fa-solid fa-phone fa-xl" style="color: white"></i><span class="text-hat">+992 92 622 5060</span></span>
        <a class="social" th:href="@{${'https://www.instagram.com/'}}" title="instagram"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a class="social" th:href="@{${'https://www.linkedin.com/'}}" title="linkedin"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a class="social" th:href="@{${'https://www.facebook.com/'}}" title="facebook"><i class="fa-brands fa-facebook fa-xl"></i></a>
    </div>
</div>

<div class="margin-break" th:fragment="navbar">
    <ul class="navigation">
            <li><a class="logo-menu" th:href="@{/home}"><h1>HUSNORO</h1></a></li>
            <li><a class="menuButton" th:href="@{/home}">Home</a></li>
            <li><a class="menuButton" th:href="@{/about}">About</a></li>
            <li><a class="menuButton" th:href="@{/services}">Services</a></li>
            <li>
                <div class="dropdown">
                <a class="menuButton dropbtn" th:href="@{/pages}">Pages</a>
                    <div class="dropdown-content">
                        <a th:href="@{/gallery}">Gallery</a>
                        <a th:href="@{/team}">Team</a>
                        <a th:href="@{/careers}">Careers</a>
                        <a th:href="@{/partners}">Partners</a>
                        <a th:href="@{/faq}">FAQ</a>
                    </div>
                </div>
            </li>
            <li><a class="menuButton" th:href="@{/news}">News</a></li>
            <li><a class="menuButton distance" th:href="@{/contact}">Contact</a></li>
            <li><a class="appointment" th:href="@{/appointment}">Appointment</a></li>
            <li><a class="login-menu" th:href="@{/login}"><i class="fa-solid fa-right-to-bracket fa-xl"></i></a></li>
    </ul>
</div>

<div th:fragment="footer" class="footer">
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text">
                    <span>H</span>usnoro</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores consectetur expedita ipsum libero mollitia numquam officia optio possimus similique, sit velit. Amet facere provident voluptates. Earum perferendis quo rem.</p>
                    <div class="contact">
                        <span><i class="fas fa-phone"></i>123456789</span>
                        <span><i class="fas fa-envelope"></i>example@gmail.com</span>
                    </div>
                    <div class="socials">
                        <a th:href="@{${'https://www.facebook.com/'}}"><i class="fab fa-facebook"></i></a>
                        <a th:href="@{${'https://www.linkedin.com/'}}"><i class="fab fa-linkedin"></i></a>
                        <a th:href="@{${'https://www.instagram.com/'}}"><i class="fab fa-instagram"></i></a>
                    </div>
                
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <br>
                <ul>
                    <a th:href="@{/about}"><li>About</li></a>
                    <a th:href="@{/services}"><li>Services</li></a>
                    <a href=""><li>Pages</li></a>
                    <a href=""><li>News</li></a>
                    <a href=""><li>Contact</li></a>

                </ul>
            </div>
            <div class="footer-section contact-form">
                <h2>Contact us</h2>
                <form action="index.html" method="post">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Tour email">
                    <textarea name="message" placeholder="Yout message" class="text-input contact-input"></textarea>
                    <button type="submit" class="btn-big">
                    <i class="fas fa-envelope"></i>
                        Send</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            &copy Husnoro.com | All rights reserved
        </div>
    </div>
</div>

</body>
</html>