body{
    margin: 0;
    padding: 0;
}


.hat{
    background-color: #2dd6c1;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.text-hat{
    margin-left: 5px;
}

.first-line{
    margin: 50px;
}

.social{
margin-left: 50px;
}

.fa-brands{
    color: white;
}

.fa-brands:hover{
    color: #3700ff;
}

.non{
margin-right: 200px;
}

/***** ===Navbar=== *****/
.navigation{
    list-style-type: none;
    background-color: #5c5291;
    padding:10px 60px;
    margin: 0;
}

.navigation li{
    display: inline-block;
}

.navigation li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.logo-menu h1{
    margin-right: 150px;
    font-family: Lobster;
}

.menuButton{
    margin: 30px;
}

.distance{
    margin-right: 100px;
}

.appointment{

    background-color: #ffb610;
    padding: 10px 15px;
    border-radius: 6px;
    text-align: center;
}

.appointment:hover{
    padding: 7px 12px;
    border: 3px solid #89be19;
}

.login-menu{
    margin-left: 100px;
}


/***** ===Dropdown menu=== *****/

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#376aea;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 9px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {display: block;}


/***** ==Edge== *****/

.edge-context .edge i{
    border: 12px solid #33999b;
    background-color: #95c7f8;
    display: inline-block;
    border-radius: 9px;
    margin-left: 170px;
    margin-top: 10px;
}

.edge{
    list-style-type: none;
}

.edge li{
    display: inline-block;
}

.item p{
    margin-left: 180px;
}

.big-context .info{
    float: left;
    width: 40%;
    margin-left: 50px;
}

video{
    /*float: right;*/
    width: 40%;
    margin-right: 200px;
    border-radius: 9px;
    border: 3px solid greenyellow;
}

.big-context h1{
    display: flex;
    justify-content: center;
    margin: 80px;
    font-size: 80px;
    font-family: Lobster;
}


/*SERVICES*/

.services h1{
    display: flex;
    justify-content: center;

    font-size: 80px;
    font-family: Lobster;
    margin-top: 200px;
}

.services-style{
    background-color: #0099ef;
    margin:20px 20px 20px 45px;
    border-radius: 9px;
    padding: 20px;
    width: 20%;
    display: inline-block;
}

.services-style p{
    text-align: center;
    font-size: 28px;
}

.services-style a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    float: right;
}

.doctors h1{
    display: flex;
    justify-content: center;
    margin: 80px;
    font-size: 80px;
    font-family: Lobster;
}

.doctors-style{
    border-radius: 10px;
    background-color: #3700ff;
    display: inline-block;
    width: 25%;
    margin: 20px;
    height: 400px;
    padding: 20px;
}

.open-hours form{
    float: left;
    width: 30%;
    margin: 50px;
    background: rgba(128, 55, 255, 0.74);
    border-radius: 12px;
    padding: 20px;
}

.open-hours form label{
    display: inline-block;
    margin: 25px 20px;
    text-align: left;
    width: 150px;
    font-family: Lobster;
    font-size: 25px;
}

.open-hours form h1{
    color: white;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
}

.input-style{
    border-radius: 9px;
    padding: 6px 12px;
    border: 3px solid #ffb610;
    outline: none;
}

.working-hours{
    background: rgba(0, 0, 0, 0.46);
    width: 55%;
    margin: 50px;
    float: right;
    height: 700px;
}

.working-hours h1{
    font-family: Lobster;
    text-align: center;
    color: white;
    margin: 30px;
}

.working-hours p{
    margin: 20px;
    color: #b4b4b4;
}

.appointment-context{
    margin-right: 60px;
}

.open-hours form .submit-button{
    margin-left: 150px;
    outline: red;
    padding: 12px 24px;
    border: 3px solid blue;
    background: blue;
    border-radius: 12px;
    color: white;
    font-size: 18px;
}

