<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<!--    <div th:replace="fragment/samecode :: navbar">Hier komt de header</div>-->
        <div class="error">
            <h1 class="oops">Oops!</h1>
            <p class="not-found">404-PAGE NOT FOUND</p>
            <p class="not-found-txt">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
            <p class="show-way">Use menu to go to another page!</p>
        </div>
</body>
</html>